[submodule "fabric8-eclipse-orion"]
	path = fabric8-eclipse-orion
	url = https://github.com/fabric8io/fabric8-eclipse-orion.git
[submodule "docker-eclipse"]
	path = docker-eclipse
	url = https://github.com/fgrehm/docker-eclipse.git
[submodule "docker-intellij"]
	path = docker-intellij
	url = https://github.com/dlsniper/docker-intellij.git
[submodule "docker-asciidoctor"]
	path = docker-asciidoctor
	url = https://github.com/asciidoctor/docker-asciidoctor.git
